/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing:border-box;
}

/*Project-specific Styling starts here*/
@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    font-family: 'Cabin', sans-serif;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.viewablePage {
    width: 800px;
    background-image: linear-gradient(to top right, #404040, #E8E8E8);
}

header {
    width: 100%;
    padding: 5%;
    background-image: url('https://lh3.googleusercontent.com/proxy/Owk8a_7mCByMKe1s-28cLuWJzuqK0_7mhxpXCe_4Uh6DYH9HlQDLwTeFCb27q54M_LN1H0SqmPTJcjoCgVaK_GM5oO9N2FzzORLulZczSK4rGpxS7c1tVkM0');
    background-size: cover;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #FFD700;
    padding: 0.5%;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 0.5%;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #C0C0C0;
    padding: 0.5%;
}

.tablinks {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

.nameSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nameSection div {
    text-align: center;
}

.wrapSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.wrapSection div {
    text-align: center;
    margin: 10px 0;
}

.wrapSection img {
    width: 170px;
    height: 170px;
}

footer {
    text-align: center;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190826/pngtree-abstract-metallic-blue-black-frame-layout-modern-tech-design-template-image_305020.jpg');
    background-size: cover;
    padding: 5%;
}